*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgba(23, 20, 20, 0.893);
    overflow-x: hidden;
}


.bg{
    height: 100vh;
    background-image: url(heron-image.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}

.nav-baar-div{
    width: 100vw;
    height: 8vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 60px;
    height: 70px;
    background-image: url(logo.png);
    background-size: cover;
    background-position: center;
    margin: 0vh 0vh 0vh 7vh;
}


.nav-buttons{
    display: flex;
    align-items: center;
       
}
.nav-buttons div{
    margin: 0px 25px 0px 0px;
}

.nav-buttons div a{
    color: #9DB2BF;
    font-size: 15px;
    text-decoration: none;
}

.profile-icon{

    width: 30px;
    height: 30px;
    padding: 8px;
    display: grid;
    align-items: center;
}


.left-hero-div{
    position: relative;
    animation-name: left-to-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}




@keyframes left-to-right {

    0%{
        left: -20vh; 
        opacity: 0;
    }
    100%{
        left: 0vh;
        opacity: 1;
    }
    
}
hyphen{

    width: 2rem;
    height: 0.25rem;
    background-color: #cbc9c9;
    position: relative;
    left: 5.2vw;
    top: 30vh
    
}


.welcome-text p{
    color: #cbc9c9;
    font-size: 4rem;
    position: relative;
    margin: 30vh 0vh 1.5vh 9.5vh;
    font-weight: bolder;
    font-family: monospace;
}



.text2{

    color: #d2d0d07a;
    font-size: 1.5rem;
    font-weight: bolder;
    word-spacing: 5px;
    margin: 0vh 0vh 0vh 9.5vh;

}

.bulb{
    width: 40px;
    height: 40px;
    background-color: #ffb22c;
    display: grid;
    padding-top: 8.5px ;
    justify-content: center;
    border-radius: 50%;
    font-size: larger;
    position: relative;
    bottom: 1.1rem;
    left: 6.2rem;


}


.learn-more{
    position: relative;
    left: 10rem;
    top: 1.5rem;
    
    
}

.learn-more button{
    font-size: 1rem;
    color: #9DB2BF;
    width: 9vw;
    height: 6vh;
    border-radius: 1.8rem;
    background-color: transparent;
    border: 2px solid #9db2bf1b;
    
}

.learn-more button i{

    margin-left: 5px;
    
}




.right-hero-div{
    position: relative;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    animation-name: right-to-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;



}

@keyframes right-to-left {
    0%{
        right: -30vh;
        opacity: 0;
    }
    100%{
        right: 0vh;
        opacity: 1;
    }
    
}

.slider-nav-container{
    width: 100%;
    height: 56vh;
    z-index: 2;
    position: relative;
    bottom: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;


}



cards-main-container{
    width: 65vw;
    height: 43vh;
    overflow: hidden;


}

.cards-div{
    width: 65vw;
    height: 43vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    overflow: hidden;

}

.card{

    width: 11vw;
    height: 36vh;
    background-color: aqua;
    border-radius: 0.8rem;
    margin: 0px 1rem 0px 0rem;
    box-shadow: gray;
    background-image: url(card-bg-1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 4px rgb(75, 70, 70) ;
    border: none;
    position: relative;
    animation-name: cardscroll;

}

.card:hover{
    scale: 1.06;
    transition: 1s ease-in-out;
}





.slide-count-nav-container{
    height: 65px;
    width: 47vw;
    margin: 1.5rem 1.25rem 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.snav-button-div{
    width: 12vw;
    height: 65px;
    display: flex;
    align-items: center;
}

.slider-nav-button{

    width: 4rem;
    height: 65px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: #9DB2BF;
    border: 3px solid #9db2bf63;
    margin-right: 10px;
    
}

.counter{
    width: 4rem;
    height: 65px;
    font-size: 4rem;
    color: #cbc9c9;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.counter p{
margin-bottom: 1rem;
}

hr{
    border: 1px solid  rgba(253, 253, 253, 0.484);
    width: 40vw;
}



@keyframes slide-loader {
    0%{
        width: 1rem;
    }
    100%{
        width: 100rem;
    }
    
}


.intro-container{
    width: 100vw;
    height: 100vh;
    margin: 0.7rem 0rem;
    display: flex;
    justify-content: space-between;
    background-image: url(heron-image.jpg);
    background-size: cover;
    
    
    
}
.intro-left{
    width: 40vw;
    height: 100vh;
    padding: 2rem 2rem;
}

.h4{
    font-size: 1.3rem;
    color: #9DB;
    margin-bottom: 4rem;

}
.p1-content p{
    font-size: 1.4rem;
    word-spacing: 4px;
    color: #9DB2BF;
    word-spacing: 3px; 
     
  
}

.intro-right{
    width: 53vw;
    height: 60vh;
    position: relative;
    top: 10vh;
    
}
/* 
#slider1{
    position: relative;
    left: 40vw;
} */

.slider-container1 {
    position: relative;
    top: 0;
    left: 52.1vw; /* Hide the slider to the right */
    width: 53vw;
    height: 100%;
    background-color: #33323392;
    color: white;
    transition: left 0.3s;
    border-radius: 7px;
    }


.slider-container2 {
    z-index: 1;
    position: relative;
    top: -60vh;
    left: 52vw; /* Hide the slider to the right */
    width: 53vw;
    height: 100%;
    background-color: #33323392;
    color: white;
    transition: left 0.3s;
    border-radius: 7px;
}


.slide-heading{
    margin: 0px 0px 1rem 0px;
}



.slider-content {
    padding: 3rem 5.5rem 0rem 3.4rem;
    border-top-left-radius: 2px;
    font-size: 1.3rem;
}

.slider-container button {
    position: relative;
    top: px;
    left: -50px; /* Position the button to be visible */
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    text-align: start;
    padding-left: 1rem;
}

#toggleButton1{
    position: absolute;
    top: 3vh;
    left: -9vw;
    width: 9vw;
    height: 40vh;
    background-color: #d09f5f;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#toggleButton2{
    position: absolute;
    top: 3vh;
    left: -4.4vw;
    width: 4.5vw;
    height: 40vh;
    background-color: #cfb28c;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}


.rotate{
    transform: rotate(180deg);

}

button:hover {
    background-color: #555;
}