*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 20, 20, 0.893);
    overflow-x: hidden;
}


.bg{
    height: 100vh;
    background-image: url(heron-image.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}

.nav-baar-div{
    width: 100vw;
    height: 8vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 60px;
    height: 70px;
    background-image: url(logo.png);
    background-size: cover;
    background-position: center;
    margin: 0vh 0vh 0vh 7vh;
}


.nav-buttons{
    display: flex;
    align-items: center;
       
}
.nav-buttons div{
    margin: 0px 25px 0px 0px;
}

.nav-buttons div a{
    color: #9DB2BF;
    font-size: 15px;
    text-decoration: none;
}

.profile-icon{

    width: 30px;
    height: 30px;
    padding: 8px;
    display: grid;
    align-items: center;
}


main{
    width: 100%;
    height: calc(100% - 8vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-hero-div{
    position: relative;
    margin: 0vw 0vw 0vw 5vw;
    animation-name: left-to-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}


@keyframes left-to-right {

    0%{
        left: -20vh; 
        opacity: 0;
    }
    100%{
        left: 0vh;
        opacity: 1;
    }
    
}

.welcome-text p{
    color: #cbc9c9;
    text-shadow: -2px 2px 4px black, 0px -3px 1.5px rgb(251, 222, 78);
    font-size: 4rem;
    font-weight: bolder;
    font-family: monospace;
}



.text2{

    color: #d2d0d07a;
    font-size: 1.5rem;
    font-weight: bolder;
    word-spacing: 5px;
    

}

.learn-more-container{
    width: calc(var(--left-hero-div-width)/2);
    height: 38px;
    display: flex;
    align-items: center;
    margin: 1.3rem 0rem 0rem 1.7rem;
}

.bulb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(bulb.jpg);
    background-size: cover;
    background-position: center;
    margin: 0rem 1rem 0rem 0rem;
   
}



.learn-more-button {
    font-size: 1rem;
    color: #9DB2BF;
    width: 9vw;
    height: 5.85vh;
    border-radius: 1.8rem;
    background-color: transparent;
    border: 2px solid #9db2bf1b;
    
}

.learn-more-button i{

    margin-left: 5px;
    
}




.right-hero-div{
    width: calc(100% - var(--left-hero-div-width));
    height: 100%;
    display: flex;
    align-items: end;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-name: right-to-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes right-to-left {
    0%{
        right: -30vh;
        opacity: 0;
    }
    100%{
        right: 0vh;
        opacity: 1;
    }
    
}

.slider-and-nav-container{
    width: 65vw;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0rem 3.5rem 5rem 0rem;
    
}



.cards-container{
    width: 65vw;
    height: 43vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    overflow: hidden;

}

.card{

    width: 10vw;
    height: 35vh;
    border-radius: 0.8rem;
    margin: 0px 1.5rem 0px 0rem;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 7px rgb(26, 23, 23) ;
    padding: 1rem 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 0.9rem;
    overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.card h3{
   
    justify-self: center;
    font-weight: 900; 
    font-family: monospace;
}

.card p{
    font-weight: 500;
}

.card:hover{
    scale: 1.06;

}

.card1{ background-image: url(card-bg-1.jpg);}
.card2{ background-image: url(card-bg-2.jpg);}
.card3{ background-image: url(card-bg-3.jpeg);}
.card4{ background-image: url(card-bg-4.jpg);}
.card5{ background-image: url(card-bg-5.jpg);}




.slide-count-container{
    height: 65px;
    width: 56vw;
    margin: 1.5rem 1.25rem 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.hr{
    border: 1px solid  rgba(253, 253, 253, 0.484);
    width: 51vw;
}

.counter{
    width: 4rem;
    height: 65px;
    font-size: 4rem;
    color: #cbc9c9;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.counter p{
margin-bottom: 1rem;
}





@keyframes slide-loader {
    0%{
        width: 1rem;
    }
    100%{
        width: 100rem;
    }
    
}


.intro-container{
    width: 100vw;
    height: 100vh;
    margin: 0.7rem 0rem;
    display: flex;
    justify-content: space-between;
    background-image: url(intro-bg.jpg);
    background-size: cover;
    
    
    
}
.intro-left{
    width: 40vw;
    height: 100vh;
    padding: 2rem 2rem;
    text-shadow: 2px 2px 5px black;
}

.intro-left h4{
    font-size: 1.5rem;
    color: #9DB;
    margin: 2.5rem 0rem 3rem 0rem;

}
.intro-left p{
    font-size: 1.4rem;
    color: #acd6f0;
    word-spacing: 3px; 
     
  
}

.intro-right{
    width: 53vw;
    height: 60vh;
    position: relative;
    
    
}


.slider-container1 {
    position: relative;
    top: 0;
    left: 52.1vw; 
    width: 53vw;
    height: 100%;
    background-color: #33323392;
    color: white;
    transition: left 0.3s;
    border-radius: 7px;
    }


.slider-container2 {
    z-index: 1;
    position: relative;
    top: -60vh;
    left: 52vw; /* Hide the slider to the right */
    width: 53vw;
    height: 100%;
    background-color: #33323392;
    color: white;
    transition: left 0.3s;
    border-radius: 7px;
}


.slide-heading{
    margin: 0px 0px 1rem 0px;
}



.slider-content {
    padding: 3rem 5.5rem 0rem 3.4rem;
    border-top-left-radius: 2px;
    font-size: 1.3rem;
}

.slider-container button {
    
    border: 1px solid rgba(169, 169, 169, 0.663) ;
    border-right: none;
    border-radius: 1rem 0rem 0rem 1rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: start;
    padding-left: 1rem;
    box-shadow: -2px 2px 4px rgb(111, 76, 31) ;
}

#toggleButton1{
    position: absolute;
    top: 3vh;
    left: -9vw;
    width: 9vw;
    height: 40vh;
    background-color: #d09f5f;
    
}

#toggleButton2{
    position: absolute;
    top: 3vh;
    left: -4.4vw;
    width: 4.5vw;
    height: 40vh;
    background-color: #cfb28c;
  
    
}


.rotate{
    transform: rotate(180deg);

}

button:hover {
    background-color: #555;
}